<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#c9e0e04d">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/main.scss">
	</head>
    <body>



	<!-------------------------------------------------------------------------------------------------
	---- HEADER
	--------------------------------------------------------------------------------------------------->

	<div class="page-main">
		<header>
			<div class="header">
				<a href="" class="header__logo"></a>
				<ul class="header-list">
					<li class="header-list__item">Home</li>
					<li class="header-list__item">About</li>
					<li class="header-list__item">Content</li>
					<li class="header-list__item">Books</li>
					<li class="header-list__item">Education</li>
					<li class="header-list__item">Skills</li>
					<li class="header-list__item">Portfolio</li>
					<li class="header-list__item">Clients</li>
					<li class="header-list__item">Contact</li>
				</ul>
			</div>

			<div class="wrap">
				<div class="block-book">
					<div></div>

					<div class="block-text">
						<p class="block-text__name">- By Emma Anderson</p>
						<h1 class="block-text__title">BUKEE: THE BOOK <span></span></h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
						<a href="" class="block-text__btn">Buy this book - $15.00</a>
						<small>* Some conditions may applicable</small>
					</div>
				</div>
			</div>
		</header>
	</div>



	<!-- -----------------------------------------------------------------------------------------------
	---- BIOGRAPHY
	--------------------------------------------------------------------------------------------------->

	<div class="page-bio">
		<div class="wrap">
			<div class="block-author">
				<div class="block-text">
					<p class="block-text__name">- Book Author</p>
					<h2 class="block-text__title">Emma
						Anderson<span>A room without books is like a body without a soul</span></h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
					<a href="">Read full biography	</a>
				</div>
				<div><img src="img/avatar--author-1.png" alt=""></div>
			</div>

			<div class="block-counter">
				<p><span>12</span>Total published books</p>
				<p><span>5</span>Happy readers</p>
				<p><span>15,000</span>Happy readers</p>
			</div>
		</div>
	</div>



	<!-- -----------------------------------------------------------------------------------------------
	---- CONTENTS
	--------------------------------------------------------------------------------------------------->

	<div class="page page_gray">
		<div class="wrap">

			<div class="block-contents">
				<h2 class="page-title">Book Contents<span>Let’s see what we have covered in the book</span></h2>

				<div>

					<div class="contents-about">
						<h3 class="contents-about__title">About the book</h3>
						<p class="contents-about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.</p>
						<ul class="about-list">
							<li class="about-list__item"><h4 class="about-list__title">Featured in:</h4></li>
							<li class="about-list__item"><a href=""></a></li>
							<li class="about-list__item"><a href=""></a></li>
							<li class="about-list__item"><a href=""></a></li>
						</ul>
					</div>

					<div class="contents-table">
						<h3 class="contents-table__title">Table of contents</h3>
						<ol class="table-list">
							<li class="table-list__item">Lorem ipsum dolor sit amet.</li>
							<li class="table-list__item">Lorem ipsum dolor sit amet.</li>
							<li class="table-list__item">Lorem ipsum dolor sit amet.</li>
							<li class="table-list__item">Lorem ipsum dolor sit amet.</li>
							<li class="table-list__item">Lorem ipsum dolor sit amet.</li>
							<li class="table-list__item">Lorem ipsum dolor sit amet.</li>
							<li class="table-list__item">Lorem ipsum dolor sit amet.</li>
							<li class="table-list__item">Lorem ipsum dolor sit amet.</li>
							<li class="table-list__item">Lorem ipsum dolor sit amet.</li>
							<li class="table-list__item">Lorem ipsum dolor sit amet.</li>
						</ol>
						<button type="button" class="contents-table__btn">More</button>
					</div>

				</div>
			</div>
		</div>
	</div>



	<!-- -----------------------------------------------------------------------------------------------
	---- OTHER
	--------------------------------------------------------------------------------------------------->

	<div class="page-other">
		<div class="wrap">
			<h2 class="page-title">Other Books<span>Some books you might be interested in</span></h2>

			<div class="block-books">
				<div class="block-books__item">
					<img src="img/book--sm.svg" alt="">
					<h3>Inception</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					<a href="">Read More</a></div>
				<div class="block-books__item">
					<img src="img/book--sm.svg" alt="">
					<h3>Fight Club</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					<a href="img/book--sm.svg">Read More</a></div>
				<div class="block-books__item">
					<img src="img/book--sm.svg" alt="">
					<h3>Daredevils</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					<a href="">Read More</a></div>
			</div>

			<a href="" class="btn_primary">Browse all books</a>
		</div>
	</div>
        <script src="../js/main.js"></script>
    </body>
</html>